li {
    line-height: 2;
}
.complete-button {
    border: 1px solid #ff69b4;
    border-radius: 5px;
    color: #ff69b4;
    background-color: white;
}
.complete-button:active {
    color: white;
    background-color: #ff69b4;
}
.completed {
    text-decoration: line-through;
}
.close-button {
    background-color: white;
    border: none;
    float: right;
}